{% extends 'adminlte/base.html'%}
{% load static %}
{% block stylesheets %}

{{ block.super }}
<link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
{% endblock %}
{% block page_name %}Projects Dashboard <small>Projects Overview</small>{% endblock %}
{% block content %}


<div class="content-fluid">

    <div class="row">
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Ongoing projects</h3>

                    <div class="box-tools pull-right">
                        <a href="{% url 'UserProject:project_create' %}"> <span class="label label-warning">Add another project</span></a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
                        {% for project in object_list|slice:":4" %}
                        <li>
                            {% if project.logo %}
                            <a class="users-list-name" href="{{ project.get_absolute_url }}"> <img src="{{ project.logo.url }}" alt="User Image"></a>
                            {% else %}
                            <a class="users-list-name" href="{{ project.get_absolute_url }}"> <img src="{% static 'Placeholders/fa-book_100px.png' %}" alt="User Image"></a>
                            {% endif %}
                            {{ project.name }}
                            <span class="users-list-date">Today</span>
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                    {% if object_list|length > 4 %}
                    <a href="javascript:void(0)" class="uppercase">View All Projects</a>
                    {% endif %}
                </div>

            </div>
            <!-- /.box-footer -->
        </div>
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">To Do List</h3>

                    <div class="box-tools pull-right">
                        <a href="{% url 'UserProject:project_create' %}"> <span class="label label-warning">Add another project</span></a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
                        {% for project in object_list|slice:":4" %}
                        <li>
                            {% if project.logo %}
                            <a class="users-list-name" href="{{ project.get_absolute_url }}"> <img src="{{ project.logo.url }}" alt="User Image"></a>
                            {% else %}
                            <a class="users-list-name" href="{{ project.get_absolute_url }}"> <img src="{% static 'Placeholders/fa-book_100px.png' %}" alt="User Image"></a>
                            {% endif %}                            {{ project.name }}
                            <span class="users-list-date">Today</span>
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                    {% if object_list|length > 4 %}
                    <a href="javascript:void(0)" class="uppercase">View All Projects</a>
                    {% endif %}
                </div>

            </div>
            <!-- /.box-footer -->
        </div>
    </div>
</div>
{% endblock content %}