{% extends 'adminlte/base.html'%}
{% load crispy_forms_tags widget_tweaks static %}

<% endblock %>

{% block page_name %}Create your awesome project here{% endblock %}

{% block content %}
{{ form.non_field_errors }}
<div class="content">
    <div class="box box-primary">
        <form method="post" {% if form.instance.pk %} action="{% url 'UserProject:project_edit' slug=form.instance.slug %}"
              {% else %}
              action="{% url 'UserProject:project_create' %}"
              {% endif %}
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.name.label_tag }}
                            {% render_field form.name class="form-control" %}
                            <div class="small">{{ form.name.help_text }}</div>
                            <div class="small text-danger">{{ form.name.errors }}</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.slug.label_tag }}
                            {% render_field form.slug class="form-control" %}
                            <div class="small">{{ form.slug.help_text }}</div>
                            <div class="small text-danger">{{ form.slug.errors }}</div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.logo.label_tag }}
                            {% render_field form.logo class="form-control" %}
                            <div class="small">{{ form.logo.help_text }}</div>
                            <div class="small text-danger">{{ form.logo.errors }}</div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.short_description.label_tag }}
                            {% render_field form.short_description class="form-control" %}
                            <div class="small">{{ form.short_description.help_text }}</div>
                            <div class="small text-danger">{{ form.short_description.errors }}</div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            {{ form.end_date.label_tag }}
                            {% render_field form.end_date class="form-control" %}
                            <div class="small">{{ form.end_date.help_text }}</div>
                            <div class="small text-danger">{{ form.end_date.errors }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.skills.label_tag }}
                            {% render_field form.skills class="form-control" %}
                            <div class="small">{{ form.skills.help_text }}</div>
                            <div class="small text-danger">{{ form.skills.errors }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.visibility.label_tag }}
                            {% render_field form.visibility class="form-control" %}
                            <div class="small">{{ form.visibility.help_text }}</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.description.label_tag }}
                    {% render_field form.description class="form-control" %}
                    <div class="small">{{ form.description.help_text }}</div>
                    <div class="small text-danger">{{ form.description.errors }}</div>
                </div>

                <h2> Permissions</h2>
                <div class="form-group">
                    {% render_field form.discussion_forum class="form-check-input" %}
                    {{ form.discussion_forum.label_tag }}
                    <div class="small">{{ form.discussion_forum.help_text }}</div>
                </div>
                <h3> Public permissions</h3>
                <div class="form-group">
                    {% render_field form.public_discussion class="form-check-input" %}
                    {{ form.public_discussion.label_tag }}
                    <div class="small">{{ form.public_discussion.help_text }}</div>
                </div>

                <div class="form-group">
                    {% render_field form.public_can_vote class="form-check-input" %}{{ form.public_can_vote.label_tag }}
                    <div class="small">{{ form.public_can_vote.help_text }}</div>
                </div>
                <h3>Observer Permissions</h3>
                <div class="form-group">
                    {% render_field form.observer_log_comment class="form-check-input" %}
                    {{ form.observer_log_comment.label_tag }}
                    <div class="small">{{ form.observer_log_comment.help_text }}</div>
                </div>

                <div class="form-check">
                    {% render_field form.observer_add_wishlist class="form-check-input" %}
                    {{ form.observer_add_wishlist.label_tag }}
                    <div class="small">{{ form.observer_add_wishlist.help_text }}</div>
                </div>
            </div>
            <div class="box-footer">
                {% if form.instance.pk %}
                <input type="submit" value="Update" class="btn btn-primary">
                {% else %}
                <input type="submit" value="Create" class="btn btn-primary">
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
