{% extends "adminlte/login.html" %}
{% load account socialaccount %}
{% load widget_tweaks %}
{% load static %}
{% block javascript %}
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'icheck/icheck.min.js' %}"></script>
<script type="text/javascript">

    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
</script>
{{ block.super}}
{% endblock %}

{% block logo_text %}<b>CLIP</b>{% endblock %}
{% block title %} {{ site.name }} {% endblock %}
{% block login_form %}
<p class="login-box-msg">Sign in to <strong>CLIP</strong> </p>
<form action="{% url 'account_login' %}" method="post">
    {% csrf_token %}
    {% if message %}
    <p class="login-box-msg" style="color: red;">{{ message }}</p>
    {% endif %}
    <div class="form-group has-feedback">
        {% render_field form.login class="form-control" placeholder="Username/Email" %}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        {% render_field form.password class="form-control" placeholder=form.password.label %}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">

        <div class="col-xs-8">
            <div class="checkbox icheck">
                <label class="">
                    <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;">
                        {% render_field form.remember class="form-control" placeholder=form.password.label %}
                    </div> {{form.remember.label}}
                </label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
    </div>
     <div class="social-auth-links text-center">
    <p>- OR -</p>
    <a href="{% provider_login_url "google"%}" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google"></i> Sign in using
    Google</a>
    <a href="{% provider_login_url "github"%}" class="btn btn-block btn-social btn-github btn-flat"><i class="fa fa-github"></i> Sign in using
    Github</a>
</div>
</form>

<a href="{% url 'account_reset_password' %}">I forgot my password</a><br>
<a href="{% url 'account_signup' %}" class="text-center">Register a new membership</a>

</div>
{% endblock %}