{% extends "adminlte/login.html" %}

{% load account %}
{% load widget_tweaks %}

{% block title %} CLIP | Password Reset{% endblock %}

{% block logo_text %}<b>CLIP</b>{% endblock %}


{% block login_form %}

    <h1 style="text-align:center">Password Reset</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p class="login-box-msg">"Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." </p>



    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="form-group has-feedback">
        {% render_field form.email class="form-control" placeholder=form.email.label %}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
        <input type="submit" class="btn btn-primary btn-block btn-flat" value= 'Reset My Password'  />
    </form>
{% endblock %}
