{% extends "adminlte/base.html" %}

{% block title %}CLIP | Set Change{% endblock %}

{% block content %}
    <h1>Change Password</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action"> "Change Password" </button>
    </form>
{% endblock %}
