{% extends "adminlte/base.html" %}

{% block title %}CLIP | Set Password{% endblock %}

{% block content %}
    <h1>Set Password</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="Set Password"/>
    </form>
{% endblock %}
