{% extends "adminlte/login.html" %}

{% load account %}

{% block title %} CLIP | Password Reset Complete{% endblock %}

{% block logo_text %}<b>CLIP</b>{% endblock %}

{% block login_form %}
    <h1> Password Reset</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
{% endblock %}
