{% extends "adminlte/login.html" %}
{% load account socialaccount %}
{% load widget_tweaks %}
{% load static %}

{% block javascript %}
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'icheck/icheck.min.js' %}"></script>
<script type="text/javascript">

    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
</script>
{{ block.super}}
{% endblock %}

{% block logo_text %}<b>CLIP</b>{% endblock %}

{% block title %} Signup {% endblock %}

{% block login_form %}
  <p class="login-box-msg">Register into <strong>CLIP</strong></p>
<form action="{% url 'account_signup' %}" method="post">
  {% csrf_token %}
      <div class="form-group has-feedback">
        {% render_field form.username class="form-control" placeholder=form.username.label %}
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        {{ form.username.errors }}
      </div>
      <div class="form-group has-feedback">
        {% render_field form.email class="form-control" placeholder=form.email.label %}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        {{ form.email.errors }}
      </div>
      <div class="form-group has-feedback">
        {% render_field form.password1 class="form-control" placeholder=form.password1.label %}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        {{ form.password1.errors }}
      </div>
      <div class="form-group has-feedback">
        {% render_field form.password2 class="form-control" placeholder=form.password2.label %}
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
         {{ form.password2.errors }}
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label class="">
              <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> I agree to the <a href="#">terms</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
      </div>
  <div class="social-auth-links text-center">
    <p>- OR -</p>
    <a href="{% provider_login_url "google"%}" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google"></i> Sign up using
    Google</a>
    <a href="{% provider_login_url "github"%}" class="btn btn-block btn-social btn-github btn-flat"><i class="fa fa-github"></i> Sign up using
    Github</a>
</div>
  <a href="{% url 'account_login' %}" class="text-center">I already have a membership</a>
    </form>
{% endblock %}

