{% extends "adminlte/login.html" %}

{% load i18n %}

{% block title %}CLIP | Verify Your E-mail Address {% endblock %}
{% block logo_text %}<b>CLIP</b>{% endblock %}

{% block login_form %}
    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

{% endblock %}
