{% extends "adminlte/login.html" %}
{% load widget_tweaks %}

{% load i18n %}

{% block title %}CLIP | Provide Email address{% endblock %}

{% block logo_text %}<b>CLIP</b>{% endblock %}

{% block login_form %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
  {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  {% if message %}
  <p class="login-box-msg" style="color: red;">{{ message }}</p>
  {% endif %}
  <div class="form-group has-feedback">
    {% render_field form.email class="form-control" placeholder=form.email.label %}
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    {{ form.email.errors }}
  </div>
  <div class="form-group has-feedback">
    {% render_field form.username class="form-control" placeholder=form.username.label %}
    <span class="glyphicon glyphicon-user form-control-feedback"></span>
    {{ form.username.errors }}
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
