{% extends 'adminlte/lib/_main_header.html' %}
{% load adminlte_helpers i18n %}

{% block logo_text %}<b>CLIP</b>{% endblock %}
{% block logo_text_small %}<b>CLIP</b>{% endblock %}
{% block change_password_url %}{% url 'account_change_password' %}{% endblock %}



{% block header_dropdowns %}
{% if request.user.is_authenticated %}
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {% if user.socialaccount_set.all|length != 0 %}
        <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" height="20" class="img-circle" alt="User Image">
        {% else %}
        <img src="{% avatar_url size=20 %}" class="img-circle" alt="User Image">
        {% endif %}
        <span class="hidden-xs">{% firstof request.user.get_short_name request.user.get_username %}</span>
    </a>
    <ul class="dropdown-menu">
        {% block user_header %}
        <li class="user-header">
            {% if user.socialaccount_set.all|length != 0 %}
            <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" height="20" class="img-circle" alt="User Image">
            {% else %}
            <img src="{% avatar_url size=180 %}" class="img-circle" alt="User Image">
            {% endif %}
            <p>
                {% firstof request.user.get_short_name request.user.get_username %}
                <small>Member since {{ request.user.date_joined }}</small>
            </p>
        </li>
        {% endblock %}

        <!-- Menu Footer-->
        {% block menu_footer %}
        <li class="user-footer">
            <div class="pull-left">
                <a href="{% url 'account_change_password' %}"
                   class="btn btn-default btn-flat">{% trans 'Change password' %}</a>
            </div>
            <div class="pull-right">
                <form action="{% logout_url %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Sign out" class="btn btn-default btn-flat">
                </form>
            </div>
        </li>
        {% endblock %}

    </ul>
</li>
{% endif %}
{% endblock header_dropdowns %}
