{% extends 'adminlte/lib/_main_sidebar.html' %}
{% load adminlte_helpers %}

{% block user_panel %}
<div class="user-panel">
    <div class="pull-left image">
        {% if user.socialaccount_set.all|length != 0 %}
        <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="img-circle" alt="User Image">
        {% else %}
        <img src="{% avatar_url size=90 %}" class="img-circle" alt="User Image">
        {% endif %}
    </div>
    <div class="pull-left info">
        <p>{% firstof request.user.get_full_name request.user.username %}</p>
    </div>
</div>
{% endblock %}

{% block nav_links %}
<li>
    <a href="{% url 'UserProject:project_list' %}">
        <i class="fa fa-book"></i> <span>Projects</span>
    </a>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-group"></i> <span>Sub menu</span>
        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
    </a>
    <ul class="treeview-menu">
        <li>
            <a href="#">
                <i class="fa fa-user"></i> Another link
            </a>
        </li>
    </ul>
</li>
{% endblock nav_links %}